# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.next
/.next
/.next
/.next
.next/app-build-manifest.json
.next/build-manifest.json
.next/server/app-paths-manifest.json
.next/server/app/event-details/\[id\]/page.js
.next/server/app/event-details/\[id\]/page_client-reference-manifest.js
.next/server/app/events/page.js
.next/server/app/events/page_client-reference-manifest.js
.next/server/app/page.js
.next/server/app/page_client-reference-manifest.js
.next/server/middleware-build-manifest.js
.next/server/middleware-manifest.json
.next/server/next-font-manifest.js
.next/server/next-font-manifest.json
.next/server/pages-manifest.json
.next/server/server-reference-manifest.json
.next/server/vendor-chunks/@radix-ui.js
.next/server/vendor-chunks/@swc.js
.next/server/vendor-chunks/asynckit.js
.next/server/vendor-chunks/axios.js
.next/server/vendor-chunks/class-variance-authority.js
.next/server/vendor-chunks/clsx.js
.next/server/vendor-chunks/combined-stream.js
.next/server/vendor-chunks/date-fns.js
.next/server/vendor-chunks/debug.js
.next/server/vendor-chunks/delayed-stream.js
.next/server/vendor-chunks/follow-redirects.js
.next/server/vendor-chunks/form-data.js
.next/server/vendor-chunks/has-flag.js
.next/server/vendor-chunks/lucide-react.js
.next/server/vendor-chunks/mime-db.js
.next/server/vendor-chunks/mime-types.js
.next/server/vendor-chunks/ms.js
.next/server/vendor-chunks/next-themes.js
.next/server/vendor-chunks/next.js
.next/server/vendor-chunks/proxy-from-env.js
.next/server/vendor-chunks/sonner.js
.next/server/vendor-chunks/supports-color.js
.next/server/vendor-chunks/tailwind-merge.js
.next/server/webpack-runtime.js
.next/static/chunks/app-pages-internals.js
.next/static/chunks/app/event-details/\[id\]/page.js
.next/static/chunks/app/events/page.js
.next/static/chunks/app/layout.js
.next/static/chunks/app/page.js
.next/static/chunks/main-app.js
.next/static/chunks/polyfills.js
.next/static/chunks/webpack.js
.next/static/css/app/layout.css
.next/static/development/_buildManifest.js
.next/static/webpack/30c7426c1493b8f2.webpack.hot-update.json
.next/static/webpack/88d302c17ab51ed4.webpack.hot-update.json
.next/static/webpack/app/layout.30c7426c1493b8f2.hot-update.js
.next/static/webpack/c1ca6c30ce92f27c.webpack.hot-update.json
.next/static/webpack/webpack.30c7426c1493b8f2.hot-update.js
.next/static/webpack/webpack.88d302c17ab51ed4.hot-update.js
.next/static/webpack/webpack.c1ca6c30ce92f27c.hot-update.js
.next/trace
.next/types/app/event-details/\[id\]/page.ts
.next/types/app/events/page.ts
.next/types/app/layout.ts
.next/types/app/page.ts
# .gitignore
.env
.env.local
.env.*.local
.env.production